body {
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

.App {
  width: 100%;
  height: 100%;
}

h1 {
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

h4 {
  text-align: center;
  margin-bottom: 15px;
  margin-top: 20px;
  float: left;
  width: 100%;
  margin-top: 20px;
}

.drums {
  width: 620px;
  height: 420px;
  margin: 0 auto;
  background-color: #eee;
  position: relative;
  top: 30px;
}

.container {
  width: 380px;
  height: 380px;
  padding: 20px;
  background-color: #000;
  margin: 0;
  display: block;
  float: left;
}

.drum-pad {
  display: inline-flex;
  width: 100px;
  height: 65px;
  background-color: #ddd;
  margin: 13px;
  font-size: 1.5rem;
  justify-content: center;
  padding-top: 35px;
  cursor: pointer;
}

.panel {
  display: block;
  float: left;
  width: 140px;
  padding: 10px;
  background-color: #fff;
  margin: 20px 0 0 20px;
}

.panel h2 {
  width: 100%;
  display: block;
  float: left; 
  font-size: 1.2rem;
  text-align: center;
}

.display-text {
  width: 100%;
  display: block;
  float: left;
  text-align: center;
  background-color: #ddd;
  padding: 10px 0;
}