body {
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

.App {
  width: 420px;
  height: 100%;
  margin: 30px auto 0;
}

h1 {
  width: 420px;
  text-align: center;
  margin: 0 auto;;
  background-color: #000;
  color: #eee;
  padding: 20px 0;
}

h4 {
  text-align: center;
  margin-bottom: 15px;
  margin-top: 0;
  float: left;
  width: 100%;
}

.drums {
  width: 420px;
  height: 600px;
  margin: 0 auto;
  background-color: #f7fbfc;
}

.container {
  width: 340px;
  height: 340px;
  background-color: #000;
  margin-left: 20px;
  display: block;
  float: left;
  padding: 20px;
}

.drum-pad {
  display: inline-flex;
  width: 87px;
  height: 55px;
  background-color: #eee;
  margin: 13px;
  font-size: 1.5rem;
  justify-content: center;
  padding-top: 35px;
  cursor: pointer;
}

.active {
  background-color: #e2f8fd;
  box-shadow: 0 0 10px 10px #444;
}

.pasive {
  box-shadow: 0 0 10px 10px #000;
  background-color: #eee;
}

.panel {
  display: block;
  float: left;
  width: 380px;
  padding: 20px;
  background-color: #fff;
  margin:0;
  background-color: #f7fbfc;
}

.panel h2 {
  width: 100%;
  display: block;
  float: left; 
  font-size: 1.5rem;
  text-align: center;
  margin: 0;
}

.display-text {
  width: 100%;
  display: block;
  float: left;
  text-align: center;
  background-color: #fff;
  padding: 10px 0;
  border: 1px solid #eee;
  color: #888;
  margin: 15px 0;
}

input#volume {
  width: 100%;
}